# How to download flights csv file from transtats website

**In this notebook, we will**
1. Download a csv file for your chosen year(s) and month(s)
2. Prepare the data for further processing
3. Push the prepared data to a table in the database

In [33]:
# Import all necessary libraries
import pandas as pd
import numpy as np
import os
import sql as gd
import psycopg2 # Needed to get database errors when uploading dataframe
import sqlalchemy as sqla
import requests # package for getting data from the web
from zipfile import * # package for unzipping zip files

In [95]:
# Import engine from sql. 
# To do so, copy the sql.py from your external data sourcing repo into the sql api project repo.
# The loadenv() function in your sql.py should find the .env file automatically. 
# If this fails and no credentials get assigned, copy the .env file here as well. 

from sql import engine #adjust this as necessary to match your sql.py connection methods

In [68]:
print(engine)

Engine(postgresql+psycopg2://farnazirani:***@data-analytics-course.c8g8r1deus2v.eu-central-1.rds.amazonaws.com:5432/postgres)

# 1. Download csv file with flight data for your specific year/month

In the following, you are going to download a csv file containing flight data from [this website](https://transtats.bts.gov).    
You can specify, which data you want to download.

Choose a month/year that you want to explore further.
With the following functions, you will download a csv file on public flight data from [this website](https://transtats.bts.gov) containing data of your chosen month/year.    
The file will be stored in a data folder.
Check out the url from which we download the data(https://transtats.bts.gov/PREZIP). Can we download data in this way from every source? What do you think?

In [16]:
# Specifies path for saving file
path ='data/' 
# Create the data folder
# !mkdir {path}

In [4]:
def download_data(year, month):
    # Get the file from the website https://transtats.bts.gov
    zip_file = f'On_Time_Reporting_Carrier_On_Time_Performance_1987_present_{year}_{month}.zip'
    url = (f'https://transtats.bts.gov/PREZIP/{zip_file}')
    # Download the database
    r = requests.get(f'{url}', verify=False)
    # Save database to local file storage
    with open(path+zip_file, 'wb') as f:
        f.write(r.content)
        print(f'--> zip_file with name: {zip_file} downloaded succesfully.' )

In [5]:
# extract the csv files inside the zip files
def extract_zip(year, month):
    # Get the file from the website https://transtats.bts.gov
    zip_file = f'On_Time_Reporting_Carrier_On_Time_Performance_1987_present_{year}_{month}.zip'
    with ZipFile(path+zip_file, 'r') as zip_ref:
        zip_ref.extractall(path)
        csv_file =  zip_ref.namelist()[0]
        print(f'--> zip_file was succesfully extracted to: {csv_file}.' )

In [6]:
years_list = [2012 # list of years you want to look at
months_list = [10, 11] # list of months you want to look at

# download flights data as zipfile(s)
# we use a nested loop to specify the years and months to define the range of the data we would like to have 
for year in years_list:
    for month in months_list:
        download_data(year, month)
        extract_zip(year, month)

/opt/homebrew/Caskroom/miniconda/base/envs/sql-practice/lib/python3.9/site-packages/urllib3/connectionpool.py:1043: InsecureRequestWarning: Unverified HTTPS request is being made to host 'transtats.bts.gov'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

--> zip_file with name: On_Time_Reporting_Carrier_On_Time_Performance_1987_present_2012_10.zip downloaded succesfully.
--> zip_file was succesfully extracted to: On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2012_10.csv.

/opt/homebrew/Caskroom/miniconda/base/envs/sql-practice/lib/python3.9/site-packages/urllib3/connectionpool.py:1043: InsecureRequestWarning: Unverified HTTPS request is being made to host 'transtats.bts.gov'. Adding certificate verification is strongly advised. See: https://urllib3.readthedocs.io/en/1.26.x/advanced-usage.html#ssl-warnings
  warnings.warn(

KeyboardInterrupt:

Now it is time to load the csv files into dataframes. You can create your own function equivalent to the functions above. But you need to decide whether...

- Do you need one dataframe for every month?
- Would you like to proceed with only one dataframe containing all the data you downloaded?
- One dataframe for every year?

There are certain things to consider before.
- changing column names
- dealing with missing data
- changing datatypes

In [17]:
# define the name of the csv file you want to read in
csv_file1 = 'On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2012_10.csv'

# Read in your data
df_oct = pd.read_csv(path+csv_file1, low_memory = False)
display(df_oct.shape)
display(df_oct.head())

(515254, 110)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,Tail_Number,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
0,2012,4,10,1,1,2012-10-01,AA,19805,AA,N320AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2012,4,10,2,2,2012-10-02,AA,19805,AA,N319AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2012,4,10,3,3,2012-10-03,AA,19805,AA,N319AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2012,4,10,4,4,2012-10-04,AA,19805,AA,N325AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2012,4,10,5,5,2012-10-05,AA,19805,AA,N325AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
csv_file2 = 'On_Time_Reporting_Carrier_On_Time_Performance_(1987_present)_2012_11.csv'
# Read in your data
df_nov = pd.read_csv(path+csv_file2, low_memory = False)
display(df_nov.shape)
display(df_nov.head())

(488006, 110)

,Year,Quarter,Month,DayofMonth,DayOfWeek,FlightDate,Reporting_Airline,DOT_ID_Reporting_Airline,IATA_CODE_Reporting_Airline,Tail_Number,...,Div4TailNum,Div5Airport,Div5AirportID,Div5AirportSeqID,Div5WheelsOn,Div5TotalGTime,Div5LongestGTime,Div5WheelsOff,Div5TailNum,Unnamed: 109
0,2012,4,11,1,4,2012-11-01,AA,19805,AA,N324AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2012,4,11,2,5,2012-11-02,AA,19805,AA,N338AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2012,4,11,3,6,2012-11-03,AA,19805,AA,N323AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2012,4,11,4,7,2012-11-04,AA,19805,AA,N335AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2012,4,11,5,1,2012-11-05,AA,19805,AA,N335AA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df_nov.columns

Index(['Year', 'Quarter', 'Month', 'DayofMonth', 'DayOfWeek', 'FlightDate',
       'Reporting_Airline', 'DOT_ID_Reporting_Airline',
       'IATA_CODE_Reporting_Airline', 'Tail_Number',
       ...
       'Div4TailNum', 'Div5Airport', 'Div5AirportID', 'Div5AirportSeqID',
       'Div5WheelsOn', 'Div5TotalGTime', 'Div5LongestGTime', 'Div5WheelsOff',
       'Div5TailNum', 'Unnamed: 109'],
      dtype='object', length=110)

# 2. Prepare the csv file for further processing

In the next step, we clean and prepare our dataset.

a) Since the dataset consists of a lot of columns, we we define which ones to keep.

In [19]:
# Columns from downloaded file that are to be kept

columns_to_keep = [
                'FlightDate',
                'DepTime',
                'CRSDepTime',
                'DepDelay',
                'ArrTime',
                'CRSArrTime',
                'ArrDelay',
                'Reporting_Airline',
                'Tail_Number',
                'Flight_Number_Reporting_Airline',
                'Origin',
                'Dest',
                'AirTime',
                'Distance',
                'Cancelled',
                'Diverted'
]

In [23]:
# The columns in the DB have different naming as in the source csv files. Lets get the names from the DB 
# UPDATE 'TABLE_SCHEMA' based on schema used in class 
schema = 'cgn_analytics_22_1'
table_name_sql = f'''SELECT COLUMN_NAME 
                    FROM INFORMATION_SCHEMA.COLUMNS 
                    WHERE TABLE_NAME = 'flights'
                    AND TABLE_SCHEMA ='{schema}'
                    ORDER BY ordinal_position'''
c_names = engine.execute(table_name_sql).fetchall()
c_names

[('flight_date',),
 ('dep_time',),
 ('sched_dep_time',),
 ('dep_delay',),
 ('arr_time',),
 ('sched_arr_time',),
 ('arr_delay',),
 ('airline',),
 ('tail_number',),
 ('flight_number',),
 ('origin',),
 ('dest',),
 ('air_time',),
 ('actual_elapsed_time',),
 ('distance',),
 ('cancelled',),
 ('diverted',)]

In [24]:
# we can clean up the results into a clean list
new_column_names=[]
for name in c_names:
    new_column_names.append(name[0])
new_column_names

['flight_date',
 'dep_time',
 'sched_dep_time',
 'dep_delay',
 'arr_time',
 'sched_arr_time',
 'arr_delay',
 'airline',
 'tail_number',
 'flight_number',
 'origin',
 'dest',
 'air_time',
 'actual_elapsed_time',
 'distance',
 'cancelled',
 'diverted']

In [29]:
# Just in case the above fails here are the results
new_column_names_alternate = ['flight_date', 'dep_time', 'sched_dep_time', 'dep_delay', 'arr_time', 'sched_arr_time', 
                'arr_delay', 'airline', 'tail_number', 'flight_number', 'origin', 'dest', 'air_time', 'distance', 'cancelled', 'diverted' ]

b) With the next function, we make our csv file ready to be uploaded to SQL.  
We only keep to above specified columns and convert the datatypes.

In [30]:
def clean_airline_df(df):
    '''
    Transforms a df made from BTS csv file into a df that is ready to be uploaded to SQL
    Set rows=0 for no filtering
    '''

    # Build dataframe including only the columns you want to keep
    df_airline = df.loc[:,columns_to_keep]
     
    # Clean data types and NULLs
    df_airline['FlightDate']= pd.to_datetime(df_airline['FlightDate'], yearfirst=True)
    df_airline['CRSArrTime']= pd.to_numeric(df_airline['CRSArrTime'], downcast='integer', errors='coerce')
    df_airline['Cancelled']= pd.to_numeric(df_airline['Cancelled'], downcast='integer')
    df_airline['Diverted']= pd.to_numeric(df_airline['Diverted'], downcast='integer')
    
    # Rename columns
    df_airline.columns = new_column_names_alternate
    
    return df_airline

In [32]:
# Call function and check resulting dataframe
df = pd.concat([df_oct, df_nov], axis=0)
df_clean = clean_airline_df(df)
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1003260 entries, 0 to 488005
Data columns (total 16 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   flight_date     1003260 non-null  datetime64[ns]
 1   dep_time        983931 non-null   float64
 2   sched_dep_time  1003260 non-null  int64
 3   dep_delay       983931 non-null   float64
 4   arr_time        983215 non-null   float64
 5   sched_arr_time  1003260 non-null  int16
 6   arr_delay       982034 non-null   float64
 7   airline         1003260 non-null  object
 8   tail_number     996932 non-null   object
 9   flight_number   1003260 non-null  int64
 10  origin          1003260 non-null  object
 11  dest            1003260 non-null  object
 12  air_time        982034 non-null   float64
 13  distance        1003260 non-null  float64
 14  cancelled       1003260 non-null  int8
 15  diverted        1003260 non-null  int8
dtypes: datetime64[ns](1), float64(6), int16(1), int64(2), int8(2), object(4)
memory usage: 111.0+ MB

In [35]:
gd.get_data('SELECT COUNT(*) FROM flights')

/opt/homebrew/Caskroom/miniconda/base/envs/sql-practice/lib/python3.9/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

    count
0  361428

If you decide to only look at specific airports, it is a good decision to filter for them in advance.  
This function does the filtering.

In [74]:
# Specify the airports you are interested in and put them as a list in the function.
def select_airport(df, airports):
    ''' Helper function for filtering airline df for a subset of airports'''
    df_out = df.loc[(df.origin.isin(airports)) | (df.dest.isin(airports))]
    return df_out

In [97]:
# Execute function, filtering for New York area airports
airports=['JFK', 'IAD', 'LGA', 'DCA', 'PHX', 'ORD', 'LAX']
if len(airports) > 0:
    df_selected_airports = select_airport(df_clean, airports)
else:
    df_selected_airports = df_clean

In [76]:
df_selected_airports \
    .query('origin == "DCA" or origin == "IAD" or origin == "OCW" or origin == "LGA" or origin == "JFK" or origin == "JRB" or origin == "JRA"') \
    .origin.unique()

array(['JFK', 'IAD', 'LGA', 'DCA'], dtype=object)

In [77]:
df_selected_airports \
    .query('dest == "DCA" or dest == "IAD" or dest == "OCW" or dest == "LGA" or dest == "JFK" or dest == "JRB" or dest == "JRA"') \
    .dest.unique()

array(['JFK', 'IAD', 'LGA', 'DCA'], dtype=object)

In [80]:
df_selected_airports.query('(cancelled == 1 or diverted == 1 or dep_delay > 30)  and (flight_date > "2012-10-21" and flight_date < "2012-11-03")')

,flight_date,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,airline,tail_number,flight_number,origin,dest,air_time,distance,cancelled,diverted
22,2012-10-23,1059.0,900,119.0,1353.0,1205,108.0,AA,N329AA,1,JFK,LAX,334.0,2475.0,0,0
26,2012-10-27,941.0,900,41.0,1301.0,1205,56.0,AA,N322AA,1,JFK,LAX,327.0,2475.0,0,0
28,2012-10-29,NaN,900,NaN,NaN,1205,NaN,AA,N324AA,1,JFK,LAX,NaN,2475.0,1,0
29,2012-10-30,NaN,900,NaN,NaN,1205,NaN,AA,NaN,1,JFK,LAX,NaN,2475.0,1,0
30,2012-10-31,NaN,900,NaN,NaN,1205,NaN,AA,NaN,1,JFK,LAX,NaN,2475.0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476725,2012-11-01,1948.0,1915,33.0,2127.0,2105,22.0,YV,N510MJ,3728,JAX,IAD,84.0,630.0,0,0
476732,2012-11-01,NaN,1430,NaN,NaN,1557,NaN,YV,N508MJ,3730,LGA,IAD,NaN,229.0,1,0
476734,2012-11-01,NaN,600,NaN,NaN,715,NaN,YV,N514MJ,3765,LGA,IAD,NaN,229.0,1,0
476735,2012-11-01,NaN,910,NaN,NaN,1043,NaN,YV,N503MJ,3791,LGA,IAD,NaN,229.0,1,0
476872,2012-11-01,2021.0,1914,67.0,2150.0,2050,60.0,YV,N514MJ,3798,SAV,IAD,72.0,515.0,0,0

In [55]:
df_selected_airports.query('(cancelled == 1 or diverted == 1 or dep_delay > 30)  and (flight_date <= "2012-10-21" or flight_date >= "2012-11-03")')

,flight_date,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,airline,tail_number,flight_number,origin,dest,air_time,distance,cancelled,diverted
0,2012-10-01,933.0,900,33.0,1305.0,1205,60.0,AA,N320AA,1,JFK,LAX,317.0,2475.0,0,0
7,2012-10-08,1207.0,900,187.0,1522.0,1205,197.0,AA,N325AA,1,JFK,LAX,341.0,2475.0,0,0
32,2012-10-02,1038.0,930,68.0,1913.0,1800,73.0,AA,N336AA,2,LAX,JFK,298.0,2475.0,0,0
41,2012-10-11,1109.0,930,99.0,1921.0,1800,81.0,AA,N327AA,2,LAX,JFK,280.0,2475.0,0,0
48,2012-10-18,953.0,930,23.0,2316.0,1800,NaN,AA,N319AA,2,LAX,JFK,NaN,2475.0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
486898,2012-11-21,1724.0,1516,128.0,1811.0,1615,116.0,YV,N522LR,3746,ORF,IAD,32.0,157.0,0,0
486945,2012-11-21,1019.0,947,32.0,1132.0,1127,5.0,YV,N504MJ,3801,PVD,IAD,61.0,372.0,0,0
487124,2012-11-28,2314.0,2155,79.0,10.0,2259,71.0,YV,N506MJ,3749,IAD,LGA,39.0,229.0,0,0
487125,2012-11-28,1307.0,1235,32.0,1415.0,1355,20.0,YV,N511MJ,3755,IAD,LGA,41.0,229.0,0,0
488000,2012-11-04,1656.0,1700,-4.0,2022.0,1840,NaN,YV,N511MJ,3754,IAD,CHS,NaN,441.0,0,1

In [57]:
df_selected_airports.query('(flight_date > "2012-10-21" and flight_date < "2012-11-03")')

,flight_date,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,airline,tail_number,flight_number,origin,dest,air_time,distance,cancelled,diverted
21,2012-10-22,906.0,900,6.0,1216.0,1205,11.0,AA,N335AA,1,JFK,LAX,339.0,2475.0,0,0
22,2012-10-23,1059.0,900,119.0,1353.0,1205,108.0,AA,N329AA,1,JFK,LAX,334.0,2475.0,0,0
23,2012-10-24,902.0,900,2.0,1203.0,1205,-2.0,AA,N325AA,1,JFK,LAX,338.0,2475.0,0,0
24,2012-10-25,856.0,900,-4.0,1221.0,1205,16.0,AA,N322AA,1,JFK,LAX,347.0,2475.0,0,0
25,2012-10-26,858.0,900,-2.0,1204.0,1205,-1.0,AA,N328AA,1,JFK,LAX,333.0,2475.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476770,2012-11-01,1135.0,1145,-10.0,1521.0,1535,-14.0,YV,N514MJ,3741,OKC,IAD,147.0,1136.0,0,0
476810,2012-11-01,1451.0,1457,-6.0,1537.0,1605,-28.0,YV,N513MJ,3737,ORF,IAD,33.0,157.0,0,0
476854,2012-11-01,945.0,956,-11.0,1116.0,1134,-18.0,YV,N506MJ,3740,PVD,IAD,70.0,372.0,0,0
476857,2012-11-01,1408.0,1415,-7.0,1501.0,1519,-18.0,YV,N506MJ,3757,RDU,IAD,37.0,224.0,0,0
476872,2012-11-01,2021.0,1914,67.0,2150.0,2050,60.0,YV,N514MJ,3798,SAV,IAD,72.0,515.0,0,0

In [58]:
df_selected_airports.query('(flight_date <= "2012-10-21" or flight_date >= "2012-11-03")')

,flight_date,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,airline,tail_number,flight_number,origin,dest,air_time,distance,cancelled,diverted
0,2012-10-01,933.0,900,33.0,1305.0,1205,60.0,AA,N320AA,1,JFK,LAX,317.0,2475.0,0,0
1,2012-10-02,906.0,900,6.0,1200.0,1205,-5.0,AA,N319AA,1,JFK,LAX,328.0,2475.0,0,0
2,2012-10-03,900.0,900,0.0,1225.0,1205,20.0,AA,N319AA,1,JFK,LAX,340.0,2475.0,0,0
3,2012-10-04,853.0,900,-7.0,1205.0,1205,0.0,AA,N325AA,1,JFK,LAX,336.0,2475.0,0,0
4,2012-10-05,853.0,900,-7.0,1236.0,1205,31.0,AA,N325AA,1,JFK,LAX,368.0,2475.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
487878,2012-11-30,845.0,850,-5.0,1130.0,1122,8.0,YV,N522LR,3782,MIA,IAD,131.0,921.0,0,0
487894,2012-11-30,1143.0,1145,-2.0,1523.0,1526,-3.0,YV,N521LR,3759,OKC,IAD,139.0,1136.0,0,0
487971,2012-11-30,1014.0,1023,-9.0,1115.0,1126,-11.0,YV,N505MJ,3801,RDU,IAD,46.0,224.0,0,0
487992,2012-11-30,1426.0,1426,0.0,1540.0,1545,-5.0,YV,N505MJ,3783,SYR,IAD,49.0,296.0,0,0
488000,2012-11-04,1656.0,1700,-4.0,2022.0,1840,NaN,YV,N511MJ,3754,IAD,CHS,NaN,441.0,0,1

In [90]:
# finding which chicago, Los Angeles, Arizona airports in the table
'MDW' in df_selected_airports.origin.unique()
'WHP' in df_selected_airports.origin.unique()
'PHX' in df_selected_airports.origin.unique()

False

# 3. Push the prepared data to a table in the database

In [96]:
print(engine)

Engine(postgresql+psycopg2://farnazirani:***@data-analytics-course.c8g8r1deus2v.eu-central-1.rds.amazonaws.com:5432/postgres)

In [98]:
# Specify which table within your database you want to push your data to. Give your table an unambiguous name.
# Example: flights_sp for Sina's flights table
table_name = 'flights_fs'
# If the specified table doesn't exist yet, it will be created
# With 'replace', your data will be replaced if the table already exists.
# This will take a minute or two...

# Write records stored in a dataframe to SQL database
if engine!=None:
    try:
        df_selected_airports.to_sql(name=table_name, # Name of SQL table
                        con=engine, # Engine or connection
                        if_exists='replace', # Drop the table before inserting new values 
                        # schema=schema, # Use schmea that was defined earlier
                        index=False, # Write DataFrame index as a column
                        chunksize=5000, # Specify the number of rows in each batch to be written at a time
                        method='multi') # Pass multiple values in a single INSERT clause
        print(f"The {table_name} table was imported successfully.")
    # Error handling
    except (Exception, psycopg2.DatabaseError) as error:
        print(error)
        engine = None

The flights_fs table was imported successfully.

In [70]:
# Check the number of rows match
table_name_sql = f'''SELECT count(*) 
                    FROM {schema}.{table_name}
                    '''
engine.execute(table_name_sql).fetchall()[0][0] == df_selected_airports.shape[0]

True